<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hackathon 11.0 | Sentiment Analysis</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="admin.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
  <script src="https://datejs.googlecode.com/svn/trunk/build/date.js"></script>
  <script type="text/javascript" src="test_data/test_data.json"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEA7d_xeYqQDp7R37tHgza_h9KhmCkgpI&sensor=false&libraries=visualization"></script>
  <script src="admin.js"></script>
  <script src="map.js"></script>
  <script src="jquery.knob.js"></script>
</head>
<body ng-app="sentimental" ng-controller="MapController">
  <div class="container" ng-controller="MapUIController">
    <div class="left-bar" ng-click="refreshMap()">
      <canvas id="mainCanvas" width="800" height="65"></canvas>
      <h1>Sentiment Analysis</h1>
      <h2>Hackathon 11.0</h2>
      <label>Or choose from the following list:</label>
      <select class="options">
        <option ng-repeat="option in options" ng-click="go(option[0], option[1], option[2], option[3], option[4])">{{capitaliseFirstLetter(option[4])}}</option>
      </select>
      <!-- More details about knobs: https://github.com/aterrien/jQuery-Knob -->
      <br>
      <label>Or choose from the wheel:</label>
      <!-- More details about knobs: https://github.com/aterrien/jQuery-Knob -->
       <div class="demo">
         <select class="axes">
           <option ng-click="switchAxes('pleasantness', 'attention')">Pleasantness vs
             Attention</option>
           <option ng-click="switchAxes('sensitivity', 'aptitude')">Sensitivity vs
             Aptitude</options>
           <option ng-click="switchAxes('attention', 'sensitivity')">Sensitivity vs
             Attention</option>
           <option ng-click="switchAxes('aptitude', 'pleasantness')">Pleasantness vs
             Aptitude</option>
         </select>
            <div id="right-axis">{{rightAxis}}</div>
            <div id="top-axis">{{topAxis}}</div>
            <input class="knob" data-min="0" data-displayInput=false data-max="360" data-width="150" data-cursor=true data-fgColor="#222222" data-thickness=.3 value="3">
        </div>
      <h3 id="control-expander">Advanced Options</h3>
      <div id="controls">
        <div class="control">
          <label class="control-label">Pleasantness</label>
          <div class="slider" id="pleasantness"></div>
          <ol class="slider-label">
            <li>grief</li>
            <li>sadness</li>
            <li>pensiveness</li>
            <li>serenity</li>
            <li>joy</li>
            <li>ecstasy</li>
          </ol>
        </div>
        <div class="control">
          <label class="control-label">Attention</label>
          <div class="slider" id="attention"></div>
          <ol class="slider-label">
            <li>amazement</li>
           <li>surprise</li>
            <li>distraction</li>
            <li>interest</li>
            <li>anticipation</li>
            <li>vigilance</li>
          </ol>
        </div>
        <div class="control">
          <label class="control-label">Sensitivity</label>
          <div class="slider" id="sensitivity"></div>
          <ol class="slider-label">
            <li>terror</li>
            <li>fear</li>
            <li>apprehension</li>
            <li>annoyance</li>
            <li>anger</li>
            <li>rage</li>
          </ol>
        </div>
        <div class="control">
          <label class="control-label">Aptitude</label>
          <div class="slider" id="aptitude"></div>
          <ol class="slider-label">
            <li>loathing</li>
            <li>disgust</li>
            <li>boredom</li>
            <li>acceptance</li>
            <li>trust</li>
            <li>admiration</li>
          </ol>
        </div>
      </div>
    </div>
    <div id="map-canvas" class="map-canvas" style="height: 96vh">
    </div>
  </body>
</html>
